<div class="mb-4 h2 text-success">
  Sign Up
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
 <div class="mb-3">
    <input  class="form-control bg-body-sceondary" placeholder="Full Name"
    formControlName="fullName" type="text" />
  </div>
  <div class="mb-3">
    <input  class="form-control bg-body-sceondary" placeholder="Email"
    formControlName="email" type="text" />
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-sceondary" placeholder="Password"
    formControlName="password" type="text" />
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-sceondary" placeholder="Confirm Password"
    formControlName="confirmPassword" type="text" />
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Register
    </button>
  </div>
</form>
